
html, body {
    font: 12px sans-serif;
    padding: 0;
    width: 100%;
    height: 100%;
}

#app, .app {
    width: 100%;
    height: 100%;
}

.appTop {
    :global(.ant-tabs .ant-tabs-nav-wrap) {
        padding-left: 20px;
    }
}
.appPage {
}